doctype html
html(lang='en')
    head
        block title
            title Pain Reporting Portal
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
        block head
    body
        block header
            nav.navbar.navbar-dark.bg-inverse
                .container
                    a.navbar-brand(href='/') Pain Reporting Portal
        block body
