<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>
                        &times;
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
                <h4 class="modal-title">
                    Notify Noncompliant Patients
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>
                            Notification Type
                        </label>
                        <select class="form-control">
                            <option>
                                In App
                            </option>
                            <option>
                                Toast
                            </option>
                            <option>
                                Push
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Notify
                </button>
            </div>
        </div>
    </div>
</div>
