<div class="modal" id="remember-patient-dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                  <span>
                      &times;
                  </span>
                  <span class="sr-only">
                      Close
                  </span>
              </button>
              <h4 class="modal-title">
                  Patient {{ patient.pin }} Created!
              </h4>
            </div>
            <div class="modal-body">
              <p>
                  Please copy down the PIN {{ patient.pin }}. This information is very important.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
              </button>
            </div>
        </div>
    </div>
</div>
