<div class="modal modal-message modal-danger fade" id="timeoutModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Timeout Warning
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Warning: Session will time out in 5 minutes.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
(function showTimeoutMessage () {
    'use strict';
    var timeInMilliseconds = 900000;

    setTimeout(function showMessage () {
        $('#timeoutModal').modal('show');
    }, timeInMilliseconds);
}());
</script>
