<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }}
        </title>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-inverse">
            <div class="container-fluid">
                <div class="col-sm-8">
                    <a class="navbar-brand" href='/'>
                        Pain Reporting Portal
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" style="color:white">
                        <i class="fa fa-cog fa-2x pull-right"></i>
                    </a>
                </div>
            </div>
        </nav>
        {{{ content }}}
    </body>
</html>
