<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdn.rawgit.com/nnnick/Chart.js/2.0.0-alpha4/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>

        <!-- Polyfills -->
        <script src="https://cdn.rawgit.com/chemerisuk/better-dom/v2.1.2/dist/better-dom.js"></script>
        <script src="https://cdn.rawgit.com/chemerisuk/better-i18n-plugin/v1.0.3/dist/better-i18n-plugin.js"></script>
        <script src="https://cdn.rawgit.com/chemerisuk/better-dateinput-polyfill/v1.5.2/dist/better-dateinput-polyfill.js"></script>
        <style>
            .progress-good-and-bad {
                color: #d9534f;
                background: #d9534f;
            }

            .progress-good-and-bad::-webkit-progress-bar {
                background: #d9534f !important;
            }

            .progress-good-and-bad::-webkit-progress-value {
                background-color: #5cb85c !important;
            }

            .progress-good-and-bad::-moz-progress-bar {
                background-color: #5cb85c;
            }

            .progress-good-and-bad > .progress-bar {
                background-color: #5cb85c;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href='/'>
                    Pain Reporting Portal
                </a>
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="fa fa-cog fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {{{ content }}}
    </body>
</html>
