<main class="container bear-background">
    <h1 class="text-xs-center">
        PROMIS - User Guide For The Mobile App
    </h1>
    <h2>
        Please follow below mentioned steps to download the app on android device and start the survey
    </h2>
    <br>
    <br>
    <nav>
        <h2>
            Index:
        </h2>
        <ol>
            <li>
                <a href="#step1">
                    Download the app on mobile device
                </a>
            </li>
            <li>
                <a href="#step2">
                    If no notification displayed, go to Downloads to install
                </a>
            </li>
            <li>
                <a href="#step3">
                    Click Install
                </a>
            </li>
            <li>
                <a href="#step4">
                    Open the app
                </a>
            </li>
            <li>
                <a href="#step5">
                    Go to Settings page of app
                </a>
            </li>
            <li>
                <a href="#step6">
                    Enter PIN and Server Address
                </a>
            </li>
            <li>
                <a href="#step7">
                    Ready to take the Survey
                </a>
            </li>
            <li>
                <a href="#step8">
                    For Issues - Contact Us
                </a>
            </li>
        </ol>
    </nav>
    <br>
    <br>
    <article>
        <section id="step1">
            <h2>
                Step 1: Download the app on mobile device
            </h2>
            <h3>
                Enter the below URL in the web browser of your mobile device and press Enter
            </h3>
            <h3>
                URL:
                <a href="https://swent1linux.asu.edu:8085/PROMIS">
                    https://swent1linux.asu.edu:8085/PROMIS
                </a>
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image1.png" alt="Step 1" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step2">
            <h2>
                Step 2: If no notification displayed, go to Downloads to install
            </h2>
            <h3>
                If no notification is displayed on the device saying download is complete, go to Downloads
                folder on the device and check for file Promis.apk
            </h3>
            <h3>
                If the file the is present, click on it and it will ask you to install.
            </h3>
            <h3>
                If the file is not present, it means that download did not complete. Please go back to step 1.
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image2.png" alt="Step 3" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step3">
            <h2>
                Step 3: Click Install
            </h2>
            <h3>
                Click install button to install the app on to the device
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image3.png" alt="Step 4" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step4">
            <h2>
                Step 4: Open the app
            </h2>
            <h3>
                Once the installation completes successfully, open the app.
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image4.png" alt="Step 5" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step5">
            <h2>
                Step 5: Go to Settings page of app
            </h2>
            <h3>
                Click on Settings button on the page.
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image5.png" alt="Step 6" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step6">
            <h2>
                Step 6: Enter PIN and Server Address
            </h2>
            <h3>
                In the PIN textbox, enter the PIN provided to you by the clinician.
            </h3>
            <h3>
                In the SERVER address textbox, enter "swent1linux.asu.edu:4001" (without the quotes).
            </h3>
            <h3>
                Click Save
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image6.png" alt="Step 7" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <section id="step7">
            <h2>
                Step 7: Ready to take the Survey
            </h2>
            <h3>
                Once you click Save, you will be able to see the home screen of the app with the survey details =
                you can take as shown in the screenshot below.
            </h3>
            <h3>
                You are ready to go for the survey!!!
            </h3>
            <h3>
                Screenshot:
            </h3>
            <img src="/static/image/image7.png" alt="Step 8" height="500">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <section id="step8">
            <h2>
                For Issues - Contact Us
            </h2>
            <h3>
                For any issues during the installation procedure with the app, please contact us at
                <a href="mailto:promisasu@gmail.com">
                    promisasu@gmail.com
                </a>.
                We are happy to help you.
            </h3>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
    </article>
    <p class="text-xs-center">
        User Guide page for PROMIS app.
    </p>
</main>
