
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User Guide For the Mobile App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/style/main.css"/>

  </head>

  <body>

    <div class="container" id="faqBackground" >

      <div class="blog-header">
        <h1 class="blog-title"><center>PROMIS - User Guide For The Mobile App</center></h1>
        <!--p class="lead blog-description"><center>Step wise instructions.</center></p-->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

        <h2>Please follow below mentioned steps to download the app on android device and start the survey</h2>

          <br><br>
          <div id="step1" class="blog-post">
            <h2 class="blog-post-title">Step 1: Download the app on mobile device</h2>
            <h3> Enter the below URL in the web browser of your mobile device and press Enter</h3>
            <h3> URL : https://swent1linux.asu.edu:8085/PROMIS</h3>
            <p class="blog-post-meta"> </p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image1.png" alt="Step 1" height="600" width="500">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id= "step2" class="blog-post">
            <h2 class="blog-post-title">Step 2: After download, install the app</h2>
            <h3> Once the download completes, click on the notification and it prompts for installation</h3>

            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image2.png" alt="Step 2" height="600" width="500">

            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step3" class="blog-post">
            <h2 class="blog-post-title">Step 3: If no notification displayed, go to Downloads to install</h2>
            <h3> If no notification is displayed on the device saying download is complete, go to Downloads
              folder on the device and check for file Promis.apk</h3>
            <h3> If the file the is present, click on it and it will ask you to install.</h3>
            <h3> If the file is not present, it means that download did not complete. Please go back to step1. </h3>
            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image3.png" alt="Step 3" height="600" width="500">


            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>

          <div id="step4" class="blog-post">
            <h2 class="blog-post-title">Step 4: Installation fails due to unknown source</h2>
            <h3> On clicking the downloaded app file, installation fails as the mobile device settings do not accept installation from unknown source.</h3>
            <h3> Go to device settings and in Security option, check the option to accept installations from unknown source. Please check the screenshots below for an example.</h3>

            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image4.png" alt="Step 3" height="600" width="500">
            <br><br>
            <img src="/static/image/image4-2.png" alt="Step 3" height="600" width="500">


            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

          <div id="step5" class="blog-post" >
            <h2 class="blog-post-title">Step 5: Click Install</h2>
            <h3>Click install button to install the app on to the device</h3>

            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image5.png" alt="Step 4" height="600" width="500">

            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step6" class="blog-post">
            <h2 class="blog-post-title">Step 6: Open the app</h2>
            <h3> Once the installation completes successfully, open the app.</h3>

            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image6.png" alt="Step 5" height="600" width="500">

            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step7" class="blog-post">
            <h2 class="blog-post-title">Step 7: Go to Settings page of app</h2>
            <h3> Click on Settings button on the page. </h3>

            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image7.png" alt="Step 6" height="600" width="500">

            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step8" class="blog-post">
            <h2 class="blog-post-title">Step 8: Enter PIN and Server Address</h2>
            <h3>In the PIN textbox, enter the PIN provided to you by the clinician.</h3>
            <h3> In the SERVER address textbox, enter "swent1linux.asu.edu:4001" (without the quotes).</h3>
            <h3> Click Save </h3>
            <p class="blog-post-meta"></p>

            <h3>Screenshot :</h3>
            <img src="/static/image/image8.png" alt="Step 7" height="600" width="500">

            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

          <div id="step9" class="blog-post">
            <h2 class="blog-post-title">Step 9: Ready to take the Survey</h2>
            <h3>Once you click Save, you will be able to see the home screen of the app with the survey details you can take as shown in the screenshot below.</h3>
            <h3> You are ready to go for the survey!!! </h3>
            <p class="blog-post-meta"></p>
            <h3>Screenshot :</h3>
            <img src="/static/image/image9.png" alt="Step 8" height="600" width="500">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

          <div id="step10" class="blog-post">
            <h2 class="blog-post-title">For Issues - Contact Us</h2>
            <h3>For any issues during the installation procedure with the app, please contact us at
            <b>promisasu@gmail.com.</b> We are happy to help you. </h3>
            <p class="blog-post-meta"></p>

            <br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->
      <br><br>
      <footer class="blog-footer">
      <p><center>User Guide page for PROMIS app.</center></p>

    </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js" defer></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js" defer></script>
  </body>
</html>
