<div class="container-fluid">
	<br>
	<ol class="breadcrumb">
		<li>
			<a href="/">Dashboard</a>
		</li><!-- <li>
        <a href="/trial/{{ trial.TrialId }}">
            Trial: {{ trial.Name }}
        </a>
    </li>
    <li class="active">
        Patient: {{ patient.PatientPin }}
    </li> -->
	</ol>
	<div class="container">
		<!-- <button id="ins" onclick="goIndex()" type='button'>Back to Main Page</button> -->
		<h2 align="center">ERROR</h2>There was an error. Please try again. If the error persists, please get in touch with us at <a href="#">promisasu@gmail.com</a>
	</div>
	<script src="/static/script/helper.js">
	</script>
</div>
