<main class="container bear-background">
    <h1 class="text-xs-center">
        PROMIS - Frequently Asked
    </h1>
    <p class="lead text-xs-center">
        List of possible error scenarios.
    </p>
    <nav>
        <h2>
            List of Issues
        </h2>
        <ol>
            <li>
                <a href="#issue1">
                    What to do if your PIN and server settings are not setup?
                </a>
            </li>
            <li>
                <a href="#issue2">
                    What to do when home page displays that unable to fetch any survey details?
                </a>
            </li>
            <li>
                <a href="#issue3">
                    What to do when required setup is done on the app, however no details are displayed regarding survey?
                </a>
            </li>
            <li>
                <a href="#issue4">
                    What needs to be done if there is a server error?
                </a>
            </li>
            <li>
                <a href="#issue5">
                    What needs to be done when the survey is not submitted due to internet connectivity issues?
                </a>
            </li>
            <li>
                <a href="#issue6">
                    What needs to be done when the survey is not submitted due to server error?
                </a>
            </li>
            <li>
                <a href="#issue7">
                    What to do when the loader on submit screen does not go away for a long time?
                </a>
            </li>
            <li>
                <a href="#issue8">
                    What needs to be done if a blank page is displayed after the survey is started?
                </a>
            </li>
        </ol>
    </nav>
    <br>
    <br>
    <article>
        <section id="issue1">
            <h2>
                What to do if your PIN and server settings are not setup?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                You dont have your PIN and server settings setup.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue1.png" alt="Error 1" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                PIN and server settings are not set by the user.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Go to settings and set PIN and server settings on the application home page.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id= "issue2">
            <h2>
                What to do when home page displays that unable to fetch any survey details?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Unable to fetch data. Please check Internet connectivity.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue2.png" alt="Error 2" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                The application is not able to make a request to the server.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Check internet connectivity. If the user is connected to the internet and the error persists, ask the
                user to double check whether correct url for the server has been entered. If the error persists, check
                server logs to see if the request actually came through.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="issue3">
            <h2>
                What to do when required setup is done on the app, however no details are displayed regarding survey?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Server settings and PIN have been setup but there’s no message displayed to take the survey.
            </p>
            <h3>
                Possible cause
            </h3>
            <p>
                The app is not able to make a request to the server.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Check internet connectivity. If the user is connected to the internet and the error persists, ask the
                user to double check whether correct url for the server has been entered. If the error persists, check
                server logs to see if the request actually came through.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="issue4">
            <h2>
                What needs to be done if there is a server error?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Unable to fetch data. There's a server error.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue4.png" alt="Error 2" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                Internal server error.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Check whether server process is running and there is connectivity on server side.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="issue5">
            <h2>
                What needs to be done when the survey is not submitted due to internet connectivity issues?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Unable to submit. Please check internet connectivity.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue5.png" alt="Error 5" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                The app is not able to make a request to the server.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Check internet connectivity.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="issue6">
            <h2>
                What needs to be done when the survey is not submitted due to server error?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Unable to submit. There's a server error.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue6.png" alt="Error 2" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                Internal server error.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Check server connectivity.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="issue7">
            <h2>
                What to do when the loader on submit screen does not go away for a long time?
            </h2>
            <h3>
                Text on screen
            </h3>
            <h3>
                Possible cause
            </h3>
            <p>
                The call to server is not getting completed. Possible cause is that the request was made and then the
                user lost internet connection.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Quit app and try again. Ensure that the internet connectivity is there and is proper, not intermittent.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <section id="issue8">
            <h2>
                What needs to be done if a blank page is displayed after the survey is started?
            </h2>
            <h3>
                Text on screen
            </h3>
            <p>
                Start Survey takes the user to a blank page that has something like :
                <br>
                \{{title}}
                <br>
                \{{question}}
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/Issue8.png" alt="Error 2" width="1200">
            <h3>
                Possible cause
            </h3>
            <p>
                The user has landed on the survey page but the app doesn’t have the questions. This should never happen,
                but if it happens, the cause is that the request to “get_survey” didn’t complete properly.
            </p>
            <h3>
                Solution
            </h3>
            <p>
                Quit app and try again. Ensure that the internet connectivity is there and is proper, not intermittent.
            </p>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
    </article>
    <br>
    <br>
    <p class="text-xs-center">
        FAQ page for PROMIS app.
    </p>
</main>
