
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User Guide For Web Portal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/style/main.css"/>

  </head>

  <body>

    <div class="container bear-background" >

      <div class="blog-header">
        <h1 class="blog-title"><center>PROMIS - User Guide For Web Portal</center></h1>
        <p class="lead blog-description"><center>Step by step instructions for portals</center></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

        <h2>Index :</h2>
        <a href="#step1">1: Log in to web portal</a><br><br>
        <a href="#step2">2: Dashboard - Adding a trial</a><br><br>
        <a href="#step3">3: Dashboard - View existing trials</a><br><br>
        <a href="#step4">4: Trial view</a><br><br>
        <a href="#step5">5: Trial - Enroll new patient</a><br><br>
        <a href="#step6">6. Patient view</a><br><br>
        <a href="#step7">7. Patient - Export patient survey data</a><br><br>
        <a href="#step8">8. View individual survey details</a><br><br>

          <br><br>
          <div id="step1" class="blog-post">
            <h2 class="blog-post-title">1: Log in to web portal</h2>
            <h3> URL for web portal : <a href= 'http://swent1linux.asu.edu:4000' target= "_blank">http://swent1linux.asu.edu:4000 </a> </h3>
            <p class="blog-post-meta"> </p>
            <h4>Enter username and password to proceed.</h4>
            <h4>Screenshot</h3>
            <img src="/static/image/login.png" alt="Login" height="300" width="300">
            <br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id= "step2" class="blog-post">
            <h2 class="blog-post-title">2: Dashboard - Adding a trial</h2>
            <h3>Add a trial </h3>
            <p>On the dashboard view, in the middle of the page and to the right there is a "Add New" button.<br>
              Clicking on this button will open a page to add a new trial.</p>
            <h4>Screenshot</h3>
            <img src="/static/image/dashboard1.png" alt="Dashboard" height="400" width="1200">
            <br><br>
            <h4> New Trial page</h3>
            <img src="/static/image/new-trial.png" alt="New Trial" height="400" width="1200">
            <p class="blog-post-meta"></p>
            <br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step3" class="blog-post">
            <h2 class="blog-post-title">3: Dashboard - View existing trials</h2>
            <h3> Dashboard - list of trials</h3>
            <p>This shows the list of trials in the system.Trials can be filtered based upon their status.<br>
              To open a trial click on the a particular trial name</p>
            <h4>Screenshot></h4>
            <p class="blog-post-meta"></p>
            <img src="/static/image/trials.png" alt="Dashboard" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step4" class="blog-post" >
            <h2 class="blog-post-title">4: Trial view</h2>
            <h3> SCD trial page</h3>
            <p>Once SCD trial is clicked on the dashboard, below page opens which provides details about each individual trial</p>
            <p class="blog-post-meta"></p>
            <h4>Screenshot</h4>
            <img src="/static/image/scd-trial.png" alt="Error 2" height="400" width="1200">
            <h3>List of patients in a trial </h3>
            <p>Trial view page displays a list of patients enrolled for that trial.<br>
            PINs are used to identify each patient.</p>
            <h4>Screenshot</h4>
            <img src="/static/image/patient-list.png" alt="Error 2" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step5" class="blog-post">
            <h2 class="blog-post-title">5: Trial - Enroll new patient</h2>
            <h3> Adding a new patient to the system</h3>
            <p>Enroll new patient button is available on trial view.</p>
            <h4>Screenshot</h4>
            <img src="/static/image/patient-list1.png" alt="Error 2" height="400" width="1200">
            <p class="blog-post-meta"></p>
            <h3> Add New Patient Page</h3>
            <p>Clicking on enroll new patient button opens the page to add new patient details.</p>
            <h4>Screenshot</h4>
            <img src="/static/image/add-new-patient.png" alt="Error 2" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step6" class="blog-post">
            <h2 class="blog-post-title">6. Patient view</h2>
            <h3> Patient details page</h3>
            <p>Once we click on a patient PIN in trial view, below page opens which provides details for individual patient</p>
            <p class="blog-post-meta"></p>
            <h4>Screenshot</h3>
            <img src="/static/image/patient-view.png" alt="Error 2" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->
          <br><br>
          <div id="step7" class="blog-post">
            <h2 class="blog-post-title">7. Patient - Export patient survey data</h2>
            <h3>All completed survey data can be exported in a .csv format for each patient from patient view</h3>
            <p>There is a button on right to export data in a patient view. Check below screenshot.<br>
            Once this button is clicked a .csv will be downloaded in the local machine containing patient filled in survey details.</p>
            <h4>Screenshot</h4>
            <img src="/static/image/patient-view1.png" alt="Error 2" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

          <div id="step8" class="blog-post">
            <h2 class="blog-post-title">8. View individual survey details</h2>
            <h3>Completed Survey Details</h3>
            <p> Each individual survey can be drilled down to check patient responses along with questions from the survey.</p>
            <p class="blog-post-meta"></p>
            <h4>Screenshot</h4>
            <img src="/static/image/patient-survey-details.png" alt="Error 2" height="400" width="1200">
            <br><br>
            <a href="#">Back to top</a>

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->
      <br><br>
      <footer class="blog-footer">
      <p><center>User Guide For Web Portal.</center></p>

    </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js" defer></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js" defer></script>
  </body>
</html>
