<main class="container bear-background">
    <h1 class="text-xs-center">
        PROMIS - User Guide For Web Portal
    </h1>
    <p class="lead text-xs-center">
        Step by step instructions for portals
    </p>
    <nav>
        <h2>
            Index:
        </h2>
        <ol>
            <li>
                <a href="#step1">
                    Log in to web portal
                </a>
            </li>
            <li>
                <a href="#step2">
                    Dashboard - Adding a trial
                </a>
            </li>
            <li>
                <a href="#step3">
                    Dashboard - View existing trials
                </a>
            </li>
            <li>
                <a href="#step4">
                    Trial view
                </a>
            </li>
            <li>
                <a href="#step5">
                    Trial - Enroll new patient
                </a>
            </li>
            <li>
                <a href="#step6">
                    Patient view
                </a>
            </li>
            <li>
                <a href="#step7">
                    Patient - Export patient survey data
                </a>
            </li>
            <li>
                <a href="#step8">
                    View individual survey details
                </a>
            </li>
        </ol>
    </nav>
    <br>
    <br>
    <article>
        <section id="step1">
            <h2>
                1: Log in to web portal
            </h2>
            <h3>
                URL for web portal:
                <a href= 'https://swent1linux.asu.edu:4000' target= "_blank">
                    https://swent1linux.asu.edu:4000
                </a>
            </h3>
            <p> </p>
            <h4>
                Enter username and password to proceed.
            </h4>
            <h4>
                Screenshot
            </h3>
            <img src="/static/image/login.png" alt="Login" width="300">
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step2">
            <h2>
                2: Dashboard - Adding a trial
            </h2>
            <h3>
                Add a trial
            </h3>
            <p>
                On the dashboard view, in the middle of the page and to the right there is a "Add New" button.
                <br>
                Clicking on this button will open a page to add a new trial.
            </p>
            <h3>
                Screenshot
            </h3>
            <img src="/static/image/dashboard1.png" alt="Dashboard" width="1200">
            <br>
            <br>
            <h3>
                New Trial page
            </h3>
            <img src="/static/image/new-trial.png" alt="New Trial" width="1200">
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step3">
            <h2 class="blog-post-title">
                3: Dashboard - View existing trials
            </h2>
            <h3>
                Dashboard - list of trials
            </h3>
            <p>
                This shows the list of trials in the system.Trials can be filtered based upon their status.
                <br>
                To open a trial click on the a particular trial name
            </p>
            <h4>
                Screenshot>
            </h4>
            <img src="/static/image/trials.png" alt="Dashboard" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step4">
            <h2>
                4: Trial view
            </h2>
            <h3>
                SCD trial page
            </h3>
            <p>
                Once SCD trial is clicked on the dashboard, below page opens which provides details about each individual
                trial
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/scd-trial.png" alt="Error 2" width="1200">
            <h3>
                List of patients in a trial
            </h3>
            <p>
                Trial view page displays a list of patients enrolled for that trial.
                <br>
                PINs are used to identify each patient.
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/patient-list.png" alt="Error 2" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step5">
            <h2>
                5: Trial - Enroll new patient
            </h2>
            <h3>
                Adding a new patient to the system
            </h3>
            <p>
                Enroll new patient button is available on trial view.
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/patient-list1.png" alt="Error 2" width="1200">
            <h3>
                Add New Patient Page
            </h3>
            <p>
                Clicking on enroll new patient button opens the page to add new patient details.
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/add-new-patient.png" alt="Error 2" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step6">
            <h2>
                6. Patient view
            </h2>
            <h3>
                Patient details page
            </h3>
            <p>
                Once we click on a patient PIN in trial view, below page opens which provides details for individual patient
            </p>
            <h4>
                Screenshot
            </h3>
            <img src="/static/image/patient-view.png" alt="Error 2" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <br>
        <br>
        <section id="step7">
            <h2>
                7. Patient - Export patient survey data
            </h2>
            <h3>
                All completed survey data can be exported in a .csv format for each patient from patient view
            </h3>
            <p>
                There is a button on right to export data in a patient view. Check below screenshot.
                <br>
                Once this button is clicked a .csv will be downloaded in the local machine containing patient filled in
                survey details.
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/patient-view1.png" alt="Error 2" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
        <section id="step8">
            <h2>
                8. View individual survey details
            </h2>
            <h3>
                Completed Survey Details
            </h3>
            <p>
                Each individual survey can be drilled down to check patient responses along with questions from the survey.
            </p>
            <h4>
                Screenshot
            </h4>
            <img src="/static/image/patient-survey-details.png" alt="Error 2" width="1200">
            <br>
            <br>
            <a href="#">
                Back to top
            </a>
        </section>
    </article>
    <br>
    <br>
    <p class="text-xs-center">
        User Guide For Web Portal.
    </p>
</main>
