<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <!-- <li>
            <a href="/trial/{{ trial.TrialId }}">
                Trial: {{ trial.Name }}
            </a>
        </li> -->
    </ol>
    <div class="container">


<h2 align="center">You are all SET!</h2>
  <UL>
  <li>Your pin is:<big><big id="patientPIN">{{patientPIN}} </big></big></li>. Odd PINs get the enhanced version, even PINs the normal version. You do not have to do anything to control this assignment.<br/></br>
  <li>ANDROID Users: Go to the <a href="https://play.google.com/store/apps/details?id=edu.asu.healPromisV3">Google Playstore</a> and download the app</li><br/>
  <li>iOS Users: Go to the <a href="https://itunes.apple.com/us/app/promis-pain-report/id1162282071">iTunes App Store</a> and download the app</li><br/>
  <li>Enter your <b>pin</b> and a <b>server address of:</b>{{apiURL}}<br/>
  <li>If you encounter a problem, please email <a href="mailto:promisasu@gmail.com">promisasu@gmail.com</a></li>
  </UL>
</div>
