env:
    browser: true
    jquery: true
    node: false
    es6: false

plugins:
    - html

globals:
    Chart: true

rules:
    # Possible Errors
    no-console: 2

    # Best Practices
    block-scoped-var: 2
    no-new: 0
    vars-on-top: 2

    # Strict Mode
    strict:
        - 2
        - function

    # Stylistic Issues
    no-multiple-empty-lines: 0
    require-jsdoc: 0

    # ECMAScript 6
    no-const-assign: 0
    no-var: 0
    prefer-arrow-callback: 0
    prefer-const: 0
    prefer-template: 0
